apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://github.com/kubeflow/katib/manifests/v1beta1/installs/katib-with-kubeflow?ref=v0.18.0

# - katib-mysql-patch-startupprobe.yaml

patchesJson6902:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: katib-ui
  patch: |-
    - op: add
      path: /spec/template/metadata/labels/app.architecture
      value: kubeflow-front-end