kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

helmCharts:
  - name: rook-ceph
    repo: https://charts.rook.io/release
    releaseName: rook-ceph
    namespace: rook-ceph
    version: 1.18.8
    valuesFile: values.yaml
resources:
- kvm-cluster.yaml
- storageclass-ssd.yaml
- monitoring/
