kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

namespace: rook-ceph
helmCharts:
  - name: rook-ceph
    repo: https://charts.rook.io/release
    releaseName: rook-ceph
    namespace: rook-ceph
    version: 1.18.8
    valuesFile: values.yaml
resources:
# - https://github.com/csi-addons/kubernetes-csi-addons/releases/download/v0.13.0/crds.yaml
- https://github.com/csi-addons/kubernetes-csi-addons/releases/download/v0.13.0/rbac.yaml
- https://github.com/csi-addons/kubernetes-csi-addons/releases/download/v0.13.0/setup-controller.yaml
- kvm-cluster.yaml
- storageclass-ssd.yaml
# - monitoring/
