apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
# - github.com/kubeflow/manifests/experimental/seaweedfs/istio/?ref=v1.10.2 # tag=2.1.0
- github.com/kubeflow/manifests/applications/pipeline/upstream/env/cert-manager/platform-agnostic-multi-user?ref=v1.10.2&timeout=300
- minio-service-console.yaml
- awscred.yaml
# - minio-ingress.yaml

configMapGenerator:
- name: kubeflow-pipelines-profile-controller-code
  namespace: kubeflow
  behavior: replace
  files:
  - sync.py

- name: mysql-conf
  namespace: kubeflow
  behavior: create
  options:
    disableNameSuffixHash: true
  files:
  - mysql-patch.cnf
patchesJson6902:

#- target:
#    group: rbac.authorization.k8s.io
#    version: v1
#    kind: ClusterRoleBinding
#    name: argo-binding
#  path: workflow-controller-clusterrolebinding-patch.json
- target:
    group: apps
    version: v1
    kind: Deployment
    name: ml-pipeline-ui
  patch: |-
    - op: add
      path: /spec/template/metadata/labels/app.architecture
      value: kubeflow-front-end
- target:
    group: apps
    version: v1
    kind: Deployment
    name: ml-pipeline
  patch: |-
   - op: add
     path: /spec/template/metadata/labels/app.architecture
     value: kubeflow-front-end
- target:
    group: apps
    version: v1
    kind: Deployment
    name: ml-pipeline-visualizationserver
  patch: |-
    - op: add
      path: /spec/template/metadata/labels/app.architecture
      value: kubeflow-front-end
#- target:
#    kind: ConfigMap
#    version: v1
#   name: kfp-launcher
#  patch: |-
#    - op: replace
#      path: /data/defaultPipelineRoot
#      value: s3://mlpipeline-execution
      
patchesStrategicMerge:
# - ml-pipeline-patch-token.yaml
# - patch-authorization-pipeline.yaml
# - clusterrole-metacontroller.yaml
- mysql-pv-claim-patch.yaml
# - minio-deployment-patch.yaml
- ml-pipeline-ui-patch.yaml
- ml-pipeline-ui-patch-GKE.yaml
- argo-deployment-patch.yaml
# - ml-pipeline-patch-GKE.yaml

# - ml-pipeline-ui-configmap-patch.yaml
# - workflow-controller-patch.yaml
# - mysql-deployment-patch.yaml
# - workflow-controller-configmap-patch.yaml

# - seaweedfs-pvc-patch.yaml

#images:
#- name: gcr.io/ml-pipeline/mysql
#   newName: mysql
#   newTag: 8.4.6
#- name: gcr.io/ml-pipeline/mysql
#- name: ghcr.io/metacontroller/metacontroller
  #newName: docker.io/metacontrollerio/metacontroller
  #newTag: v2.0.4
#- name:  ghcr.io/kubeflow/kfp-visualization-server
#  newName: gcr.io/ml-pipeline/visualization-server
#  newTag: 1.7.0
#- name:  gcr.io/ml-pipeline/argoexec
#  newName:  gcr.io/ml-pipeline/argoexec
#  newTag: v3.3.10-license-compliance
#- name:  ghcr.io/ml-pipeline/frontend
#  newName:  gcr.io/ml-pipeline/frontend
#  newTag: 2.3.0
#ghcr.io/kubeflow/kfp-frontend:2.3.0
#v3.3.10-license-compliance