kind: ConfigMap
apiVersion: v1
metadata:
  name: ml-pipeline-ui-configmap
  namespace: kubeflow
data:
  viewer-pod-template.json: |-
    {
        "spec": {
            "serviceAccountName": "default-editor"
            "containers": [
                {
                    "env": [
                        {
                            "name": "AWS_ACCESS_KEY_ID",
                            "valueFrom": {
                                "secretKeyRef": {
                                    "name": "aws-secret",
                                    "key": "AWS_ACCESS_KEY_ID"
                                }
                            }
                        },
                        {
                            "name": "AWS_SECRET_ACCESS_KEY",
                            "valueFrom": {
                                "secretKeyRef": {
                                    "name": "aws-secret",
                                    "key": "AWS_SECRET_ACCESS_KEY"
                                }
                            }
                        },
                        {
                            "name": "S3_USE_HTTPS",
                            "valueFrom": {
                                "secretKeyRef": {
                                    "name": "aws-secret",
                                    "key": "S3_USE_HTTPS"
                                }
                            }
                        },
                        {
                            "name": "S3_VERIFY_SSL",
                            "valueFrom": {
                                "secretKeyRef": {
                                    "name": "aws-secret",
                                    "key": "S3_VERIFY_SSL"
                                }
                            }
                        },
                        {
                            "name": "S3_ENDPOINT",
                            "valueFrom": {
                                "secretKeyRef": {
                                    "name": "aws-secret",
                                    "key": "S3_ENDPOINT"
                                }
                            }
                        },
                        {
                            "name": "AWS_REGION",
                            "value": "local"
                        }
                    ]
                }
            ]
        }
    }