apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - nfs-pvc.yaml
  - nfs-server.yaml

helmCharts:
  - name: csi-driver-nfs
    repo: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
    version: v4.10.0
    releaseName: csi-driver-nfs
    namespace: kube-system
    valuesInline:
      driver:
        replicaCount: 1
      storageClass:
        create: true
        name: nfs-csi
        parameters:
          server: nfs-server.nfs-server.svc.cluster.local
          share: /
        reclaimPolicy: Delete
        volumeBindingMode: Immediate
        mountOptions:
          - nfsvers=4.1