
apiVersion: v1
kind: ConfigMap
metadata:
  name: inferenceservice-config
  namespace: kubeflow
data:
  predictor:  |-
    {
      "tensorflow": {
          "image": "tensorflow/serving",
          "defaultImageVersion": "2.6.2",
          "defaultGpuImageVersion": "2.6.2-gpu",
          "defaultTimeout": "60",
          "supportedFrameworks": [
            "tensorflow"
          ],
          "multiModelServer": false
      },
      "onnx": {
          "image": "mcr.microsoft.com/onnxruntime/server",
          "defaultImageVersion": "v1.0.0",
          "supportedFrameworks": [
            "onnx"
          ],
          "multiModelServer": false
      },
      "sklearn": {
        "v1": {
          "image": "kserve/sklearnserver",
          "defaultImageVersion": "v0.8.0",
          "supportedFrameworks": [
            "sklearn"
          ],
          "multiModelServer": true
        },
        "v2": {
          "image": "docker.io/seldonio/mlserver",
          "defaultImageVersion": "0.5.3",
          "supportedFrameworks": [
            "sklearn"
          ],
          "multiModelServer": true
        }
      },
      "xgboost": {
        "v1": {
          "image": "kserve/xgbserver",
          "defaultImageVersion": "v0.8.0",
          "supportedFrameworks": [
            "xgboost"
          ],
          "multiModelServer": true
        },
        "v2": {
          "image": "docker.io/seldonio/mlserver",
          "defaultImageVersion": "0.5.3",
          "supportedFrameworks": [
            "xgboost"
          ],
          "multiModelServer": true
        }
      },
      "pytorch": {
        "v1" : {
          "image": "kserve/torchserve-kfs",
          "defaultImageVersion": "0.5.3",
          "defaultGpuImageVersion": "0.5.3-gpu",
          "supportedFrameworks": [
            "pytorch"
          ],
          "multiModelServer": false
        },
        "v2" : {
          "image": "kserve/torchserve-kfs",
          "defaultImageVersion": "0.5.3",
          "defaultGpuImageVersion": "0.5.3-gpu",
          "supportedFrameworks": [
            "pytorch"
          ],
          "multiModelServer": false
        }
      },
      "triton": {
          "image": "nvcr.io/nvidia/tritonserver",
          "defaultImageVersion": "21.09-py3",
          "supportedFrameworks": [
            "tensorrt",
            "tensorflow",
            "onnx",
            "pytorch"
          ],
          "multiModelServer": true
      },
      "pmml": {
          "image": "kserve/pmmlserver",
          "defaultImageVersion": "v0.8.0",
          "supportedFrameworks": [
            "pmml"
          ],
          "multiModelServer": false
      },
      "lightgbm": {
          "image": "kserve/lgbserver",
          "defaultImageVersion": "v0.8.0",
          "supportedFrameworks": [
            "lightgbm"
          ],
          "multiModelServer": false
      },
      "paddle": {
          "image": "kserve/paddleserver",
          "defaultImageVersion": "v0.8.0",
          "supportedFrameworks": [
            "paddle"
          ],
          "multiModelServer": false
      }
