apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://github.com/minio/operator?ref=v7.0.0
- ./base

patchesJson6902:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: minio-operator
    namespace: minio-operator
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 1

