apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ollama
helmCharts:
  - name: ollama
    repo: https://otwld.github.io/ollama-helm/
    version: 1.26.0 # 0.49.0
    valuesInline:
      # Docker image
      image:
        # -- Docker image registry
        priorityClassName: "very-low-priority"
        repository: 
        # -- Docker pull policy
        pullPolicy: 
        tag:
      ollama:
        gpu:
            # -- Enable GPU integration
          enabled: true
          
          # -- GPU type: 'nvidia' or 'amd'
          type: 'nvidia'
          
          # -- Specify the number of GPU to 2
          number: 1
        
        # -- List of models to pull at container startup
      extraEnv:
        - name: "OLLAMA_DEBUG"
          value: "1"
      resources: {}
      service:
        type: LoadBalancer
        port: 11434
        targetPort: 11434
        
      persistentVolume:
        enabled: true
        size: 100Gi
        accessModes: 
          - ReadWriteOnce
    releaseName: "prod"
    namespace: ollama
  - name: open-webui
    version: 3.3.2
    repo: https://helm.openwebui.com/
    valuesInline:
      image:
        # repository: registry.local:5000/library/open-webui
        # tag: duck-6.3.0
        pullPolicy: IfNotPresent
      service:
        type: LoadBalancer
      ollama:
        enabled: false
      extraEnvVars:
        - name: OAUTH_CLIENT_ID
          value: "openweui-ID"
        - name: OAUTH_CLIENT_SECRET
          value: "FLSJbn1RUPoO7MjVLtGFDgRa3kkUahUH"
        - name: OPENID_PROVIDER_URL
          value: "https://auth-local.kubefrog.fr/realms/kubeflow/.well-known/openid-configuration"
        - name: OAUTH_PROVIDER_NAME
          value: "Keycloak"
    
      ollamaUrls:
        - http://prod-ollama.ollama:11434


patchesJson6902:

  - target:
      group: apps
      version: v1
      kind: Deployment
      name: open-webui-deployment
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "http://prod-ollama.ollama.svc.cluster.local:11434"
      - op: replace 
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "8"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "4Gi"

  




      


   

