apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: istio-system
helmCharts:      
  - name: gateway
    repo: https://istio-release.storage.googleapis.com/charts
    releaseName: "istio-ingressgateway"
    namespace: istio-system
    version: 1.26.2
    valuesFile: values.yaml


